{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <style>
   
   h1{
    color:green;
   }
   a{
      text-decoration:none;
      color:blue;
   }
  </style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if comment %}
  <h1 >Your comment has been added.</h2>
   <p><a href="{{ post.get_absolute_url }}">Back to the post</a></p>
    {% endif %}
</body>
{% endblock content %}
</html>